# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next
# > This file (`next-env.d.ts`) should not be committed
# > and should be ignored by version control.
# >> https://nextjs.org/docs/basic-features/typescript
next-env.d.ts
